body{
    background-color: rgb(36, 35, 35);
}
h1{
    font-size: 45px;
    color: orangered;
    border-left: 3px solid;
    border-color: rgb(231, 16, 9);
    padding-left: 3px;
    height: 95px;
}
h2{
    color: white;
}
header article p{
    font-size: 18px;
    text-align: justify;
    color: white;
}
.header1{
    display: flex;
}
header article img{
    width: 300px;
    height: 360px;
    border-radius: 5%;
}
header article{
    width: 40%;
    padding: 5% 8%;
}
.mim{
    color: blue;
}
.note2{
    color: red;
    font-style: italic;
}
.note{
    color: red;
    margin-top: -100%;
    font-style: italic;
}
.section1{
    display: flex;
    margin-top: -1%;
}
.section1 article p:hover{
    background-color: orangered;
}
.section1 article p{
    font-size: 14px;
    padding-left: 12%;
    color: white;
}
section article img{
    width: 400px;
    height: 1030px;
    padding-left: 22%;
}
.article3{
    width: 1050px;
    height: 100px;
    padding-right: 2%;
}
.article5 p{
    margin-top: 8%;
    padding-left: 12%;
    width: 85%;
    color: white;
}
.article4 p{
    padding-left: 12%;
    margin-top: -1.5px;
    text-align: justify;
    width: 75%;
    color: white;
}
.section2{
    display: flex;
    margin-top: 5%;
}
.section2 article p{
    font-size: 16px;
    padding-left: 30%;
    color: white;
}
.section2 article{
    padding-right: 15%;
}
h4{
    color: orangered;
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    font-style: italic;
}
footer{
    background-color: navy;
    width: 1250px;
    height: 150px;
}
footer p{
    text-align: center;
    color: white;
}
.article8 p{
    text-align: end;
    color: white;
    padding-top: 5%;
    font-style: italic;
    padding-right: 3%;
}
.article8{
    margin-bottom: -2.5%;
}
.section3{
    display: flex;
    margin-left: 15%;
    margin-top: -4%;
    height: 130px;
}
.article9{
    padding-left: 17%;
}